/* HEADER CSS */
.cabecalho {
    background-color: #FFFFFF;
    padding: 0.8rem 5% .8rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    position: relative;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer{
    background-image: url("../images/MenuAberto.svg");
}

.container__botao:checked ~ .container__rotulo{
    background: var(--blue-gradient);
}

.container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem ;
}

.container__texto{
    display: none;
}

.container__botao{
    display: none;
}

.cabecalho__menu-hamburguer{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../images/Menu.png);
    background-repeat: no-repeat;
    background-position: center;
}


.cabecalho__logo{
    width: 2rem;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 60vw;
}

.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu__titulo,
.lista-menu__item{
    padding: 1em;
    background-color: #FFFFFF;
}

.lista-menu__titulo, 
.lista-menu__item{
    padding: 1em;
    background-color: #FFFFFF;
}

.lista-menu__titulo > a{
    color: var(--color-orange);
    font-weight: 700;
    font-size: .8rem;
}

.lista-menu__link{
    background: var(--blue-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-size: 0.8rem;
}

.container__titulo, .opcoes{
    display: none;
}

@media screen and (min-width: 1024px){

    .cabecalho{
        padding: .8rem 5% .8rem 6%;
    }

    .opcoes{
        display: flex;
        align-items: center;
    }

    .container__texto{
        display: none;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item{
        background: var(--blue-gradient);
        color: var(--color-white);
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .container__titulo, .container__titulo--negrito{
        font-family: var(--fonts-josefin);
        font-size: 2.25rem;
    }

    .container__titulo{
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes__item{
        text-transform: uppercase;
        color: var(--color-black80);
        margin-inline: 1rem;
        padding-right: 1.5em;

    }

    .cabecalho__favoritos, .cabecalho__menu-hamburguer{
        display: none;
    }

    .header_options{
        gap: 2rem
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }

    .lista-menu{
        left: auto;
        margin-left: 1em;
    }

    .lista-menu__item{
        padding: 1em 2em;
    }

    .lista-menu__item:hover{
        background: var(--blue-gradient);
    }

    .lista-menu__item:hover > a{
        -webkit-text-fill-color: var(--blue-gradient);
        color: var(--color-white);
        transition: 1s;
    }



}

@media screen and (min-width: 1360px){

    .cabecalho__favoritos{
        display: none;
    }

    .container__links{
        display: flex;
        align-items: center;
        gap: .5em
    }

    .opcoes{
        margin-right: auto;
    }
}