.topicos{
    background: var(--blue-gradient);
    text-align: center;
    padding: 1rem .5rem;
}

.topicos__titulo{
    color: var(--color-white);
    font-weight: 300;
    margin-bottom: 32px;
    text-transform: uppercase;
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item{
    margin: 2em .5em;
}

.topicos__item a{
    color: var(--color-white);
    padding: 1em;
    background-color: var(--color-orange);
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
}

@media screen and (min-width: 1024px){
    .topicos__titulo{
        font-size: 24px;
    }

    .topicos__item a{
        font-size: 20px;
    }
}

@media screen and (min-width: 1360px){
    .topicos{
        padding: 3em 0;
    }

    .topicos__titulo{
        font-size: 2rem;
    }

    .topicos__lista{
        width: 50vw;
        margin: 0 auto;
    }
}